# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environment
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Kaggle artifacts
results/kaggle/working/.virtual_documents/
